/* General Styles */
html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Anybody', sans-serif;
	margin: 0;
	padding: 0;
	//background-color: grey;
	color: black;
	user-select: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	font-family: 'Anybody', sans-serif;
	border: none;
}

/* Header Section */
header {
	background-color: white;
	color: black;
	padding: 0 80px;
	text-align: center;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.navbar nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    padding: 30px 0px;
    font-size: 21px;
	//border: 1px solid blue;
}

.navbar nav ul a {
    padding: 30px 20px;
    font-size: 21px;
	//border: 1px solid yellow;
}

.navbar nav ul li .current-page {
	color: #F6C302;
	font-weight: bold;
}

.navbar nav ul li .current-page::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 90%;
    height: 9px;
    background-color: #f6c302;
}

.navbar nav ul li a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.navbar nav ul li .hoverable::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
	transform: translateX(-50%);
    height: 9px;
    background-color: #88343b;
    transition: width 0.3s ease;
}

.navbar nav ul li .hoverable:hover::after {
	color: #88343b;
    width: 90%;
}

.navbar nav ul li .hoverable:hover {
	color: #88343b;
}

.auth-buttons button {
	margin-left: 20px;
	padding: 15px 30px;
	border-radius: 15px;
	font-family: 'Anybody', sans-serif;
	font-size: 20px;
}

.signup-btn {
	background-color: #ae3c3c;
	color: white;
	border: none;
	transition: background-color 0.3s ease;
}

.signup-btn:hover {
	background-color: #601325;
}

.login-btn {
	background-color: white;
	color: grey;
	border: 1px solid grey;
	transition: background-color 0.3s ease,
				color 0.3s ease,
				border 0.3s ease;
}

.login-btn:hover {
	background-color: white;
	color: #f6c302;
	border: 1px solid #f6c302;
}

/* Feature Section */
.get-started-section {
    background-image: 
        linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%,
								  rgba(255, 255, 255, 0.5) 5%,
								  rgba(255, 255, 255, 1) 20%,
								  rgba(255, 255, 255, 1) 80%,
								  rgba(255, 255, 255, 0.5) 95%,
								  rgba(255, 255, 255, 0.2) 100%),
								  url('../img/feature-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    user-select: none;
	padding-bottom: 300px;
}

.get-started-section .auth-nav {
	margin-right: 90px;
}

.teknofinder-overview {
	padding-bottom: 50px;
	margin-top: 100px;
}

.teknofinder-overview span {
    display: inline-block;
    width: 57.4vw;;
}

.teknofinder-overview .overview-subheader{
	color: white;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 1.5px;
	margin-bottom: 40px;
	background: #601325;
	padding: 15px 50px;
	border-radius: 50px;
	width: fit-content;
}

.teknofinder-overview .overview-header {
    font-size: 90px;
    font-weight: bold;
    letter-spacing: 3px;
    background: linear-gradient(180deg, #601325, #f6c302);
    -webkit-background-clip: text;
    color: transparent;
	width: 100%;
}

.teknofinder-overview hr {
    width: 100px;
    height: 10px;
    background-color: #d2990a;
    border: none;
	border-radius: 10px;
	margin-bottom: 30px;
}

.teknofinder-overview .overview-content{
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1.1px;
	line-height: 1.2;
	margin-bottom: 50px;
	color: #601325;
}

.teknofinder-overview a:hover {
	background-color: white;
}

.target {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -300px;
}

.highlighted {
	display: flex;
	background-color: #f6c302;
	min-width: 450px;
	max-width: 450px;
	min-height: 520px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 40px;
	color: #601325;
	padding: 50px;
	margin: 0px -55px;
	border: 15px solid white;
	box-shadow: 0 0 30px rgb(246,195,2, 0.6);
	z-index: 10;
}

.highlighted img{ 
	min-width: 170px;
	min-height: 170px;
	max-width: 170px;
	max-height: 170px;
	object-fit: cover;
	border: 7px solid black;
	border-radius: 50%;
}

.highlighted span{ 
	color: black;
	font-size: 22px;
	line-height: 1.2;
	text-align: center;
}

.highlighted h2{ 
	color: black;
	letter-spacing: 1.3px;
	font-size: 34px;
}

.target-one {
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
}

.target-three {
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
}

.target-one,
.target-three {
	min-width: 400px;
	max-width: 400px;
	margin: 40px;
	color: white;
	width: 80vw;
	background:  #601325;
	display: flex;
	padding: 0px 30px;
    align-items: center;
    text-align: center;
    flex-direction: column;
	margin-bottom: 60px;
	padding: 50px;
	border: 15px solid white;
	box-shadow: 0 0 30px rgb(96,19,37, 0.6);
}

.target-one img,
.target-three img{
	min-width: 150px;
	min-height: 150px;
	max-width: 150px;
	max-height: 150px;
	object-fit: cover;
	border: 7px solid white;
	border-radius: 50%;
}

.target-one span,
.target-three span{
	font-size: 20px;
	line-height: 1.2;
}

.target-one h2,
.target-three h2{
	color: #f6c305;
	letter-spacing: 1.3px;
	font-size: 30px;
}

.feature-section {
    display: flex;
	justify-content: center;
    text-align: center;
	flex-direction: column;
	color: white;
}

.feature-section .feature-boxes {
	display: flex;
    justify-content: space-around;
    padding: 130px 70px 120px 70px;
	color: white;
}

.feature-box-one,
.feature-box-two,
.feature-box-three {
    position: relative;
    width: 400px;
    height: 500px;
    text-align: center;
    padding: 20px;
    border: 3px solid white;
    border-radius: 40px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}

.feature-box-one,
.feature-box-two {
    margin-right: 70px;
}

.feature-info {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	border-radius: 40px;
}

.feature-info div{
	padding: 50px;
}

.feature-info div p{
	font-size: 18px;
}

.feature-box-one {
	background-image: url('/static/landing-page/images/feature-one.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-box-two {
	background-image: url('/static/landing-page/images/feature-two.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-box-three {
	background-image: url('/static/landing-page/images/feature-three.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-box-one:hover .feature-info,
.feature-box-two:hover .feature-info,
.feature-box-three:hover .feature-info {
    opacity: 1;
    visibility: visible;
}

.testimony-section {
	display: flex;
	justify-content: center;
    text-align: center;
	flex-direction: column;
	color: #025d30;
	//border:  1px solid yellow;
	padding: 100px 130px;
	background-color: #faf9f6;
}
.testimony-head {
	text-align: right;
	margin-bottom: 60px;
}

.testimony-head span{
	display: inline-block;
}

.testimony-head-subheader {
	font-size: 28px;
	font-weight: bold;
	color: #018141;
	letter-spacing: 1.5px;
	margin-bottom: 40px;
}

.testimony-head-header {
	font-family: 'Vensfolk', sans-serif;
	color: #002f19;
	font-size: 90px;
	line-height: 1.1;
}

.testimony-section .testimony-boxes {
	display: flex;
    justify-content: space-around;
	color: white;
	margin-bottom: 20px;
}

.testimony-box-one,
.testimony-box-two {
    position: relative;
    width: 600px;
    height: 400px;
	color: #025d30;
    text-align: center;
    border: 3px solid white;
    border-radius: 40px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
	display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
}

.testimony-box-one p,
.testimony-box-two p {
    padding: 0px 50px;
	font-size: 25px;
	line-height: 1.5;
}

.testimony-info {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	border-radius: 34px;
}

.testimony-info div{
	padding: 50px;
	color: #025d30;
	display: inline-block;
}

.testimony-info div img{
	border-radius: 50%;
	width: 150px;
	border: 8px solid #025d30;
	margin-bottom: 20px;
	margin-top: 15px;
}

.testimony-info div span{
	font-size: 40px;
}

.testimony-info div p{
	font-size: 20px;
	color: black;
	line-height: 1;
}

.testimony-box-one:hover .testimony-info,
.testimony-box-two:hover .testimony-info {
    opacity: 1;
    visibility: visible;
}

footer .footer-down button i{
	margin-right: 10px;
}

/* Footer Section */
footer {
	background: #88343b;
	color: white;
	display: flex;
	flex-direction: row;
	font-size: 18px;
}

.footer-left-container {
	width: 70%;
	padding: 50px;
	display: flex;
	padding-left: 80px;
	padding-top: 60px;
}

.flc-left-content {
	margin-right: 180px;
}

.flc-left-content img {
	margin-bottom: 60px;
}

.flc-left-content button {
	border: 3px solid transparent;
	border-radius: 20px;
	background-color: white;
	padding: 8px 20px;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	transition: border 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.flc-left-content button:hover {
	border-color: white;
	background-color: transparent;
	color: white;
}

.flc-left-content button i {
	margin-right: 5px;
}

.flc-left-content p {
	//border: 1px solid blue;
	margin-top: 30px;
	font-size: 20px;
	margin-bottom: 0;
}

.flc-right-content {
	width: 200px;
	margin-right: 100px;
	font-size: 20px;
	letter-spacing: 1.5px;
}

.flc-right-content h3 {
	letter-spacing: 2.5px;
	margin: 0;
	margin-bottom: 40px;
	margin-top: 10px;
}

footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

footer ul li {
	display: flex;
	margin-bottom: 16px;
	color: rgb(255, 255, 255, 0.5);
	font-size: 20px;
	transition: color 0.3s ease;
}

footer ul li:hover {
	color: #f6c302;
	font-weight: bold;
}

.footer-right-container {
	width: 30%;
	background-image: url("../img/teknofinder-logo-other.png");
	background-size: 130%;
	background-repeat: no-repeat; /* Prevents the image from repeating */
	background-position: left; /* Centers the image */
}