/* General Styles */
html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Anybody', sans-serif;
	margin: 0;
	padding: 0;
	//background-color: grey;
	color: black;
	user-select: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	font-family: 'Anybody', sans-serif;
	border: none;
}

/* Header Section */
header {
	background-color: white;
	color: black;
	padding: 0 80px;
	text-align: center;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.navbar nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    padding: 30px 0px;
    font-size: 21px;
	//border: 1px solid blue;
}

.navbar nav ul a {
    padding: 30px 20px;
    font-size: 21px;
	//border: 1px solid yellow;
}

.navbar nav ul li .current-page {
	color: #F6C302;
	font-weight: bold;
}

.navbar nav ul li .current-page::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 90%;
    height: 9px;
    background-color: #f6c302;
}

.navbar nav ul li a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.navbar nav ul li .hoverable::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
	transform: translateX(-50%);
    height: 9px;
    background-color: #88343b;
    transition: width 0.3s ease;
}

.navbar nav ul li .hoverable:hover::after {
	color: #88343b;
    width: 90%;
}

.navbar nav ul li .hoverable:hover {
	color: #88343b;
}

.auth-buttons button {
	margin-left: 20px;
	padding: 15px 30px;
	border-radius: 15px;
	font-family: 'Anybody', sans-serif;
	font-size: 20px;
}

.signup-btn {
	background-color: #ae3c3c;
	color: white;
	border: none;
	transition: background-color 0.3s ease;
}

.signup-btn:hover {
	background-color: #601325;
}

.login-btn {
	background-color: white;
	color: grey;
	border: 1px solid grey;
	transition: background-color 0.3s ease,
				color 0.3s ease,
				border 0.3s ease;
}

.login-btn:hover {
	background-color: white;
	color: #f6c302;
	border: 1px solid #f6c302;
}


/* Contact Us Section */

.get-started-section {
	background-color: #f5f5f5;
    padding: 25px;
	padding-top: 40px;
    display: flex;
    align-items: center;
    text-align: center;
	flex-direction: column;
	user-select: none;
}

.contact-header {
	display: inline-block;
	padding: 80px 0px;
}

.contact-head {
	font-size: 90px;
	background: linear-gradient(90deg, #601426, #f6c302);
	-webkit-background-clip: text;
	color: transparent;
	font-weight: bold;
}

.contact-subhead {
	font-size: 25px;
	padding: 20px 40px;
	border-radius: 30px;
	background: linear-gradient(180deg, #601426, #f6c302);
	color: white;
	font-weight: bold;
	margin-bottom: 40px;
	margin-top: 20px;
	display: inline-block;
}

.contact-info-box {
	padding: 40px 0px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
    text-align: center;
	flex-direction: row;
}

.contact-info {
	background-color: #601325;
	border-radius: 50px;
	display: flex;
	justify-content: center;
    text-align: center;
	flex-direction: column;
	padding: 50px 50px;
	color: #f6c303;
	font-size: 22px;
	width: 280px;
}

.contact-info-box .contact-info:not(:last-child) {
    margin-right: 50px;
}

.contact-info:hover {
    background-color: white;
    box-shadow: 0px 4px 20px rgba(7, 29, 14, 0.2); 
}

.contact-info:hover .fas.fa-phone,
.contact-info:hover .fas.fa-envelope,
.contact-info:hover .fas.fa-map {
    color: #601325;
	-webkit-text-stroke: 1px black;
}

.contact-info:hover p{
    color: black;
}

.contact-info:hover span{
    color: #f6c303;
}

.contact-info p{
	letter-spacing: 1.3px;
}

.contact-info span{
	color: white;
	letter-spacing: 1.5px;
	font-size: 26px;
}

.fas.fa-phone,
.fas.fa-envelope,
.fas.fa-map {
    color: transparent;
    -webkit-text-stroke: 3px #f6c303;
	font-size: 80px;
}

.contact-form-section {
    background: #601325;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 70px 100px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

form {
    display: flex;
    flex-direction: column;
	justify-content: center;
	width: 100%;
}

.contact-form-section form label {
    margin: 10px 0 10px;
    font-size: 25px;
    color: white;
	text-align: left;
}

form .name-info {
	display: flex;
	flex-direction: row;
}

form .name-info div{
	display: flex;
    justify-content: center;
    align-items: left;
	flex-direction: column;
	width: 100%;
}

form .name-info div:not(:last-child) {
    margin-right: 40px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 20px; 
    border: 3px solid white;
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 25px;
    color: white;
    background-color: transparent;
	resize: none;
	font-family: 'Outfit', sans-serif;
}

input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.7); 
}

input:focus,
textarea:focus {
    background-color: white;
    outline: none;
	color: #000;
	font-family: 'Outfit', sans-serif;
}
.send-message-div {
	display: flex;
    justify-content: center;
    align-items: center;
}

button[type="submit"] {
    background-color: #f6c305; 
    color: black;
    font-weight: bold;
    cursor: pointer;
	width: fit-content;
	padding: 30px 100px;
	border: 0px;
	font-size: 25px;
	border-radius: 50px;
	margin-top: 20px;
	font-family: 'Outfit', sans-serif;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: white; 
    color: #f6c303; 
}

/* Footer Section */
footer {
	background: #88343b;
	color: white;
	display: flex;
	flex-direction: row;
	font-size: 18px;
}

.footer-left-container {
	width: 70%;
	padding: 50px;
	display: flex;
	padding-left: 80px;
	padding-top: 60px;
}

.flc-left-content {
	margin-right: 180px;
}

.flc-left-content img {
	margin-bottom: 60px;
}

.flc-left-content button {
	border: 3px solid transparent;
	border-radius: 20px;
	background-color: white;
	padding: 8px 20px;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	transition: border 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.flc-left-content button:hover {
	border-color: white;
	background-color: transparent;
	color: white;
}

.flc-left-content button i {
	margin-right: 5px;
}

.flc-left-content p {
	//border: 1px solid blue;
	margin-top: 30px;
	font-size: 20px;
	margin-bottom: 0;
}

.flc-right-content {
	width: 200px;
	margin-right: 100px;
	font-size: 20px;
	letter-spacing: 1.5px;
}

.flc-right-content h3 {
	letter-spacing: 2.5px;
	margin: 0;
	margin-bottom: 40px;
	margin-top: 10px;
}

footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

footer ul li {
	display: flex;
	margin-bottom: 16px;
	color: rgb(255, 255, 255, 0.5);
	font-size: 20px;
	transition: color 0.3s ease;
}

footer ul li:hover {
	color: #f6c302;
	font-weight: bold;
}

.footer-right-container {
	width: 30%;
	background-image: url("../img/teknofinder-logo-other.png");
	background-size: 130%;
	background-repeat: no-repeat; /* Prevents the image from repeating */
	background-position: left; /* Centers the image */
}