body {
    font-family: 'Anybody', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex; 
  }

#map_sidebar{
    width: 120px; /* Set the width of the sidebar */
    background-color: white; /* Background color for the sidebar */
    color: #88343B; /* Text color for the sidebar */
    display: flex; /* Use flexbox for content alignment */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

#map{
    flex: 1; /* Take up remaining space */
    overflow: hidden; /* Prevent scrolling in this area */
    height: 100vh; /* Make the image fill the viewport height */
    width: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure it covers the space */
}

#debug_menu{
    display: flex;
    flex-direction: column;
    width: 100px;
}



.button_icon{
    height: 60px;
    width: 60px;
}

#top_half{
    border-top: 4px solid #88343B; /* Top border */
    border-bottom: 4px solid #88343B; /* Bottom border */
    margin-top: 20px;
    margin-bottom: 240px;
    justify-items: center;
    text-align: center;
}

#bottom_half{
    justify-items: center;
    text-align: center;
}

.sidebar_button{
    border-color: cyan;
    border-radius: 20px;
    padding: 10px;
}

.sidebar_button:hover{
    background-color: rgba(246, 195, 2, 0.2);
}