/* General Styles */
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Anybody', sans-serif;
	margin: 0;
	padding: 0;
	//background-color: grey;
	color: black;
	user-select: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	font-family: 'Anybody', sans-serif;
	border: none;
}

/* Header Section */
header {
	background-color: white;
	color: black;
	padding: 0 80px;
	text-align: center;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.navbar nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    padding: 30px 0px;
    font-size: 21px;
	//border: 1px solid blue;
}

.navbar nav ul a {
    padding: 30px 20px;
    font-size: 21px;
	//border: 1px solid yellow;
}

.navbar nav ul li .current-page {
	color: #F6C302;
	font-weight: bold;
}

.navbar nav ul li .current-page::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 90%;
    height: 9px;
    background-color: #f6c302;
}

.navbar nav ul li a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.navbar nav ul li .hoverable::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
	transform: translateX(-50%);
    height: 9px;
    background-color: #88343b;
    transition: width 0.3s ease;
}

.navbar nav ul li .hoverable:hover::after {
	color: #88343b;
    width: 90%;
}

.navbar nav ul li .hoverable:hover {
	color: #88343b;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.profile .profile-img {
    margin-right: 15px;
}

.profile .profile-img img {
    margin-bottom: -4px;
    border-radius: 50%;
    width: 50px;
}

.profile .profile-info {
    line-height: 1.4;
    text-align: left;
}

.profile .profile-info h3,
.profile .profile-info span {
    margin: 0;
    padding: 0;
}

.profile-menu {
    display: none;
    position: absolute;
    top: 65px;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 100;
    width: 190px;
	text-align: left;
}

.profile-menu a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #333;
    font-size: 19px;
    border-bottom: 1px solid #eee;
    transition: background 0.3s, color 0.3s ease;
}

.profile-menu a:last-child {
    border-bottom: none;
}

.profile-menu a:hover,
.profile-menu a:hover i {
    background: #f9f9f9;
	color: black;
}

.profile-menu a i {
    margin-right: 15px;
    font-size: 16px;
    color: grey;
}

.profile-menu .log-out,
.profile-menu .log-out i {
	color: #FF7F7F;
}

.profile-menu .log-out:hover,
.profile-menu .log-out:hover i {
	color: red;
	background: #ffe6e6;
}

#profile-menu-toggle:checked ~ .profile-menu {
    display: block;
}

#profile-menu-toggle {
    display: none;
}

.profile-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* About Us Section */

.get-started-section {
	background-color: #faf9f6;
    padding: 25px;
	padding-top: 40px;
    display: flex;
    //justify-content: center;
    align-items: center;
    text-align: center;
	flex-direction: column;
	user-select: none;
}

.about-container {
	//border: 1px solid black;
	width: 100%;
	display: flex;
	justify-content: center;
    text-align: center;
	flex-direction: row;
	color: black;
}

.about-left-container {
	padding: 100px 50px;
	width: 600px;
	//border: 1px solid yellow;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
}

.about-left-container span {
    font-size: 110px;
    font-weight: bold;
    text-align: left;
    line-height: 1.1;
    background: linear-gradient(90deg, #002F19, #00954F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.about-left-container p {
    font-size: 24px;
	padding-left: 15px;
}

.about-right-container {
	padding: 100px 50px;
	//border: 1px solid yellow;
}

.about-right-container img {
    border: 1px solid grey;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 40px;
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.member-section {
	//background-image: url('/static/landing-page/images/gradient-bg.png');
	//background-repeat: no-repeat;
	//background-size: cover;
    display: flex;
	justify-content: center;
    text-align: center;
	flex-direction: column;
	color: white;
}

.member-head {
	margin-top: 100px;
}

.member-head span {
    display: inline-block;
    width: 57.4vw;
}

.member-head .member-head-subheader{
	color: #00ff7f;
	font-size: 30px;
	text-align: left;
	font-weight: bold;
	letter-spacing: 1.5px;
	margin-bottom: 10px;
}

.member-head .member-head-header{
	font-family: 'Vensfolk', sans-serif;
	font-size: 90px;
	letter-spacing: 2.7px;
}

.member-head .member-head-content{
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 1.1px;
}

.member-section .member-boxes {
	display: flex;
    justify-content: space-around;
    padding: 90px 70px 100px 70px;
	color: white;
}

.member-box-one,
.member-box-two,
.member-box-three {
    position: relative;
    width: 400px;
    height: 500px;
    text-align: center;
    padding: 20px;
    border: 4px solid white;
    border-radius: 40px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}

.member-info {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	border-radius: 40px;
}

.member-info img{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	object-fit: cover;
	border: 5px solid white;
}

.member-info div{
	padding: 50px;
}

.member-info div p{
	font-size: 18px;
}

.member-box-one {
	background-image: url('/static/landing-page/images/member-one.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.member-box-two {
	background-image: url('/static/landing-page/images/member-two.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.member-box-three {
	background-image: url('/static/landing-page/images/member-three.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.member-box-one:hover .member-info,
.member-box-two:hover .member-info,
.member-box-three:hover .member-info {
    opacity: 1;
    visibility: visible;
}

.member-section .section-foot {
    padding: 40px 250px;
    margin-bottom: 100px;
    font-size: 22px;
    background-color: #faf9f6;
    color: black;
    position: relative;
}

.member-section .section-foot::before,
.member-section .section-foot::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 7px;
    background: linear-gradient(90deg, #002F19, #00954F, #00954F);
}

.member-section .section-foot::before {
    top: 0;
}

.member-section .section-foot::after {
    bottom: 0;
}


/* Footer Section */
footer {
	background: #88343b;
	color: white;
	display: flex;
	flex-direction: row;
	font-size: 18px;
}

.footer-left-container {
	width: 70%;
	padding: 50px;
	display: flex;
	padding-left: 80px;
	padding-top: 60px;
}

.flc-left-content {
	margin-right: 180px;
}

.flc-left-content img {
	margin-bottom: 60px;
}

.flc-left-content button {
	border: 3px solid transparent;
	border-radius: 20px;
	background-color: white;
	padding: 8px 20px;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	transition: border 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.flc-left-content button:hover {
	border-color: white;
	background-color: transparent;
	color: white;
}

.flc-left-content button i {
	margin-right: 5px;
}

.flc-left-content p {
	//border: 1px solid blue;
	margin-top: 30px;
	font-size: 20px;
	margin-bottom: 0;
}

.flc-right-content {
	width: 200px;
	margin-right: 100px;
	font-size: 20px;
	letter-spacing: 1.5px;
}

.flc-right-content h3 {
	letter-spacing: 2.5px;
	margin: 0;
	margin-bottom: 40px;
	margin-top: 10px;
}

footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

footer ul li {
	display: flex;
	margin-bottom: 16px;
	color: rgb(255, 255, 255, 0.5);
	font-size: 20px;
	transition: color 0.3s ease;
}

footer ul li:hover {
	color: #f6c302;
	font-weight: bold;
}

.footer-right-container {
	width: 30%;
	background-image: url("../img/teknofinder-logo-other.png");
	background-size: 130%;
	background-repeat: no-repeat; /* Prevents the image from repeating */
	background-position: left; /* Centers the image */
}