<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TeknoFinder - About Us</title>
	<link rel="stylesheet" href="../css/landing-aboutus.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Anybody&display=swap" rel="stylesheet">
</head>

<body>
	<!-- Header Section -->
	<header>
		<div class="navbar">
			<div>
				<img src="../img/teknofinder-word.png" height="40px"/>
			</div>
			
			<nav>
				<ul>
					<li><a href="../templates/landing-home.html" class="hoverable">Home</a></li>
					<li><a href="../templates/landing-features.html" class="hoverable">Features</a></li>
					<li><a href="../templates/landing-aboutus.html" class="current-page">About Us</a></li>
					<li><a href="../templates/landing-contactus.html" class="hoverable">Contact Us</a></li>
				</ul>
			</nav>
			
			<div class="auth-buttons">
				<button class="login-btn">
					<a href="../../user-authorization/templates/login-selection.html">
						Log In
					</a>
				</button>
				<button class="signup-btn">
					<a href="../../user-authorization/templates/register-selection.html">
						Sign Up
					</a>
				</button>
			</div>
		</div>
	</header>
    
	<!-- Main Section -->
	
    <section class="get-started-section">
		<div class="about-container">
			<div class="about-left-container">
				<span>One Team.<br/>One Goal.</span> <br/>
				<p>
					As Aristotle once said, "The roots of education are bitter, but the fruit is sweet." At TeknoFinder, we aim to simplify campus navigation for students. By providing intuitive tools and reliable guidance, we help students explore their campus with confidence and ease.
				</p>
			</div>
			
			<div class="about-right-container">
				<img src="../img/location-img.png"/>
			</div>
		</div>
    </section>
	
	<section class="member-section">
		<div class="member-head"></div>
		
		<div class="member-boxes">
			<div class="member-box-one">
				<div class="member-info">
					<div>
						<img src="../img/member-five.png"/> <br/>
						<h1>Elijah Rei Sabay</h1>
						<h1> ◍ ☉☉ </h1>
						<p>"Fueling growth and transformation by making learning accessible, engaging, and a lifelong adventure."</p>
					</div>
				</div>
			</div>
			<div class="member-box-two">
				<div class="member-info">
					<div>
						<img src="../img/member-one.jpg"/> <br/>
						<h1>Ray Anthony Dollison</h1>
						<h1> ◍ ◍ ☉ </h1>
						<p>"Empowering every learner to unlock their potential, expand their horizons, and achieve greatness through knowledge."</p>
					</div>
				</div>
			</div>
			<div class="member-box-three">
				<div class="member-info">
					<div>
						<img src="../img/member-two.png"/> <br/>
						<h1>Avril Nigel Chua</h1>
						<h1> ◍ ◍ ◍ </h1>
						<p>"Building a brighter future by inspiring curiosity, cultivating skills, and fostering a passion for continuous learning."</p>
					</div>
				</div>
			</div>
		</div>

		<span class="section-foot">
			<span class="member-head-subheader">Designers and Programmers</span> <br/>
			<span class="member-head-header">TEAM BEHIND TEKNOFINDER</span> <br/>
			<span class="member-head-content">
				Meet the passionate team driving TenkoFinder—a group dedicated to transforming learning<br/>
				experiences. With innovation at our core, we strive to make education<br/>
				accessible, engaging, and impactful for all.
			</span>		</span>

		<div class="member-boxes">
			<div class="member-box-four">
				<div class="member-info">
					<div>
						<img src="../img/member-four.jpg"/> <br/>
						<h1>Jake Clarin</h1>
						<h1> ◍ ☉☉ </h1>
						<p>"Fueling growth and transformation by making learning accessible, engaging, and a lifelong adventure."</p>
					</div>
				</div>
			</div>
			<div class="member-box-five">
				<div class="member-info">
					<div>
						<img src="../img/member-three.jpg"/> <br/>
						<h1>Kevin Josh Atay</h1>
						<h1> ◍ ◍ ☉ </h1>
						<p>"Empowering every learner to unlock their potential, expand their horizons, and achieve greatness through knowledge."</p>
					</div>
				</div>
			</div>
		</div>
    </section>
	
	<!-- Footer Section -->
	<footer>
		<div class="footer-left-container">
			<div class="flc-left-content">
				<img src="../img/teknofinder-word-other.png" height="50px"/> <br/>
				<button id="scrollToTopBtn">
				  <i class="fa fa-chevron-up"></i> TOP
				</button>
				<p>© 2024 TeknoFinder. All rights reserved.</p>
			</div>
				
			<div class="flc-right-content">
				<h3>Product</h3>
				<ul>
					<li><a href="../templates/landing-home.html">Overview</a></li>
					<li><a href="../templates/landing-features.html">Features</a></li>
					<li><a href="#howItWorks" id="howItWorksLink">How It Works?</a></li>
					<li><a href="#cituMap" id="visualMapLink">Visual Map</a></li>
				</ul>
			</div>
			  
			<div class="flc-right-content">
				<h3>Company</h3>
				<ul>
					<li><a href="../templates/landing-aboutus.html">About Us</a></li>
					<li><a href="../templates/landing-contactus.html">Contact Us</a></li>
				</ul>
			</div>			
		</div>
		
		<div class="footer-right-container"></div>
	</footer>
	
	<script src="../js/landing-page.js" defer></script>
</body>
</html>
