<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TeknoFinder - Features</title>
	<link rel="stylesheet" href="../css/landing-features.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Anybody&display=swap" rel="stylesheet">
</head>

<body>
	<!-- Header Section -->
	<header>
		<div class="navbar">
			<div>
				<img src="../img/teknofinder-word.png" height="40px"/>
			</div>
			
			<nav>
				<ul>
					<li><a href="../templates/landing-home.html" class="hoverable">Home</a></li>
					<li><a href="../templates/landing-features.html" class="current-page">Features</a></li>
					<li><a href="../templates/landing-aboutus.html" class="hoverable">About Us</a></li>
					<li><a href="../templates/landing-contactus.html" class="hoverable">Contact Us</a></li>
				</ul>
			</nav>
			
			<div class="auth-buttons">
				<button class="login-btn">Log In</button>
				<button class="signup-btn">Sign Up</button>
			</div>
		</div>
	</header>
    
	<!-- Main Section -->
	<main>
		
	</main>
	
	<!-- Footer Section -->
	<footer>
		<div class="footer-left-container">
			<div class="flc-left-content">
				<img src="../img/teknofinder-word-other.png" height="50px"/> <br/>
				<button id="scrollToTopBtn">
				  <i class="fa fa-chevron-up"></i> TOP
				</button>
				<p>© 2024 TeknoFinder. All rights reserved.</p>
			</div>
				
			<div class="flc-right-content">
				<h3>Product</h3>
				<ul>
					<li><a href="../templates/landing-home.html">Overview</a></li>
					<li><a href="../templates/landing-features.html">Features</a></li>
					<li><a href="#howItWorks" id="howItWorksLink">How It Works?</a></li>
					<li><a href="#cituMap" id="visualMapLink">Visual Map</a></li>
				</ul>
			</div>
			  
			<div class="flc-right-content">
				<h3>Company</h3>
				<ul>
					<li><a href="../templates/landing-aboutus.html">About Us</a></li>
					<li><a href="../templates/landing-contactus.html">Contact Us</a></li>
				</ul>
			</div>		
		</div>
		
		<div class="footer-right-container"></div>
	</footer>
	
	<script src="../js/landing-page.js" defer></script>
</body>
</html>
