<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TeknoFinder - Features</title>
	<link rel="stylesheet" href="../css/landing-features.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Anybody&display=swap" rel="stylesheet">
</head>

<body>
	<!-- Header Section -->
	<header>
		<div class="navbar">
			<div>
				<img src="../img/teknofinder-word.png" height="40px"/>
			</div>
			
			<nav>
				<ul>
					<li><a href="../templates/landing-home.html" class="hoverable">Home</a></li>
					<li><a href="../templates/landing-features.html" class="current-page">Features</a></li>
					<li><a href="../templates/landing-aboutus.html" class="hoverable">About Us</a></li>
					<li><a href="../templates/landing-contactus.html" class="hoverable">Contact Us</a></li>
				</ul>
			</nav>
			
			<div class="auth-buttons">
				<button class="login-btn">
					<a href="../../user-authorization/templates/login-selection.html">
						Log In
					</a>
				</button>
				<button class="signup-btn">
					<a href="../../user-authorization/templates/register-selection.html">
						Sign Up
					</a>
				</button>
			</div>
		</div>
	</header>
    
	<!-- Features Section -->
	<section class="get-started-section">		
		<div class="teknofinder-overview">
			<span class="overview-subheader">Application Overview</span> <br/>
			<span class="overview-header">WHAT'S TEKNOFINDER?</span> <br/>
			<hr/>
			<span class="overview-content">
				TeknoFinder is CIT-U's innovative campus map app designed for students, staff,<br>
				and guests. It offers real-time navigation, building directories, and detailed<br>
				guides to help users easily locate classrooms, offices, and key facilities. <br>
				Whether you're a newcomer or a regular on campus, TeknoFinder ensures<br>
				a smooth and hassle-free experience exploring CIT-U.
			</span>
		</div>
    </section>

	<section class="target">
		<div class="target-one">
			<img src="../img/teacher.jpg" alt="Faculty"/>
			<h2>Faculty</h2>
			<span>Faculty members can use TeknoFinder to quickly locate classrooms, offices, and campus facilities, ensuring they stay on schedule and effortlessly navigate the CIT-U grounds.</span>
			<br/><br/><span> ◍ ☉☉ </span>
		</div>

		<div class="highlighted">
			<img src="../img/student.jpg" alt="Students"/>
			<h2>Students</h2>
			<span>TeknoFinder helps students efficiently find lecture halls, labs, and event venues, making it easier to attend classes, join activities, and explore the CIT-U campus stress-free.</span>
			<br/><br/><span> ◍ ◍ ☉ </span>
		</div>
			
		<div class="target-three">
			<img src="../img/guest.jpg" alt="Guests"/>
			<h2>Guests</h2>
			<span>Guests and visitors can rely on TeknoFinder for seamless navigation, complete with building guides and real-time directions to key facilities and events across the CIT-U campus.</span>
			<br/><br/><span> ◍ ◍ ◍ </span>
		</div>
	</section>	
	
	<section class="feature-section">
		<div class="feature-boxes">
			<div class="feature-box-one">
				<div class="feature-info">
					<div>
						<h1>One-Click Authentication</h1>
						<h1> ◍ ☉☉ </h1>
						<p>Make login seamless with intuitive, user-friendly authentication that gets users where they need to be—fast and securely. No hassle, just quick, easy access for a better user experience.</p>
					</div>
				</div>
			</div>
			<div class="feature-box-two">
				<div class="feature-info">
					<div>
						<h1>Essential Study Takeaways</h1>
						<h1> ◍ ◍ ☉ </h1>
						<p>Transform your learning experience with essential insights derived from quizzes and flashcards. Capture critical information and enhance your understanding effortlessly!</p>
					</div>
				</div>
			</div>
			<div class="feature-box-three">
				<div class="feature-info">
					<div>
						<h1>Quiz and Flashcard Builder</h1>
						<h1> ◍ ◍ ◍ </h1>
						<p>Master any topic with custom flashcards and quizzes designed for effective learning. Create, review, and test your knowledge with ease!</p>
					</div>
				</div>
			</div>
		</div>
    </section>
	
	<!-- Footer Section -->
	<footer>
		<div class="footer-left-container">
			<div class="flc-left-content">
				<img src="../img/teknofinder-word-other.png" height="50px"/> <br/>
				<button id="scrollToTopBtn">
				  <i class="fa fa-chevron-up"></i> TOP
				</button>
				<p>© 2024 TeknoFinder. All rights reserved.</p>
			</div>
				
			<div class="flc-right-content">
				<h3>Product</h3>
				<ul>
					<li><a href="../templates/landing-home.html">Overview</a></li>
					<li><a href="../templates/landing-features.html">Features</a></li>
					<li><a href="#howItWorks" id="howItWorksLink">How It Works?</a></li>
					<li><a href="#cituMap" id="visualMapLink">Visual Map</a></li>
				</ul>
			</div>
			  
			<div class="flc-right-content">
				<h3>Company</h3>
				<ul>
					<li><a href="../templates/landing-aboutus.html">About Us</a></li>
					<li><a href="../templates/landing-contactus.html">Contact Us</a></li>
				</ul>
			</div>		
		</div>
		
		<div class="footer-right-container"></div>
	</footer>
	
	<script src="../js/landing-page.js" defer></script>
</body>
</html>
