<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TeknoFinder - Register</title>
	<link rel="stylesheet" href="../css/register.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Anybody:wght@300;400;600;700&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>

<body>
	<section class="register-form">
		<div class="register-container">
			<div class="back">
				<button onclick="previousPage();"> <i class="fa fa-arrow-left"></i> BACK </button>
			</div>
			
			<div class="form">
				<div class="header">
					<h1>Sign up to </h1> <img src="../img/teknofinder-word.png">
				</div>
				
				<p class="subheader">Sign up to unlock effortless navigation around CIT-U</p>

				<div class="identifier">
					<h2>CREATE CREDENTIALS</h2>
					<span>Step 02 of 02</span>
				</div>

				<form method="POST" action="#">
					<div class="form-group">
						<label for="email">Email Address</label>
						<input type="email" id="email" placeholder="Enter your email address" required>
					</div>

					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" id="password" placeholder="Enter your password" required>
					</div>
					
					<div class="form-group">
						<label for="confirmpassword">Confirmed Password</label>
						<input type="password" id="confirmpassword" placeholder="Confirm your password" required>
					</div>
					
					<button type="submit" class="btn-register">
						<a href="../templates/login-email.html">
							Register
						</a>
					</button>
				</form>
				
				<p class="login-link">Already have an account? <a href="../templates/login-selection.html">Login Now</a></p>
			</div>
		</div>
	</section>
	
	<script src="../js/user-auth.js"></script>
</body>
</html>