/* General Styles */
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Anybody', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	color: black;
	user-select: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	font-family: 'Anybody', sans-serif;
	border: none;
}

/* Header Section */
header {
	background-color: white;
	color: black;
	padding: 0 80px;
	text-align: center;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.navbar nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    padding: 30px 0px;
    font-size: 21px;
	//border: 1px solid blue;
}

.navbar nav ul a {
    padding: 30px 20px;
    font-size: 21px;
	//border: 1px solid yellow;
}

.navbar nav ul li .current-page {
	color: #F6C302;
	font-weight: bold;
}

.navbar nav ul li .current-page::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 90%;
    height: 9px;
    background-color: #f6c302;
}

.navbar nav ul li a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.navbar nav ul li .hoverable::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
	transform: translateX(-50%);
    height: 9px;
    background-color: #88343b;
    transition: width 0.3s ease;
}

.navbar nav ul li .hoverable:hover::after {
	color: #88343b;
    width: 90%;
}

.navbar nav ul li .hoverable:hover {
	color: #88343b;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.profile .profile-img {
    margin-right: 15px;
}

.profile .profile-img img {
    margin-bottom: -4px;
    border-radius: 50%;
    width: 50px;
}

.profile .profile-info {
    line-height: 1.4;
    text-align: left;
}

.profile .profile-info h3,
.profile .profile-info span {
    margin: 0;
    padding: 0;
}

.profile-menu {
    display: none;
    position: absolute;
    top: 65px;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 100;
    width: 190px;
	text-align: left;
}

.profile-menu a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #333;
    font-size: 19px;
    border-bottom: 1px solid #eee;
    transition: background 0.3s, color 0.3s ease;
}

.profile-menu a:last-child {
    border-bottom: none;
}

.profile-menu a:hover,
.profile-menu a:hover i {
    background: #f9f9f9;
	color: black;
}

.profile-menu a i {
    margin-right: 15px;
    font-size: 16px;
    color: grey;
}

.profile-menu .log-out,
.profile-menu .log-out i {
	color: #FF7F7F;
}

.profile-menu .log-out:hover,
.profile-menu .log-out:hover i {
	color: red;
	background: #ffe6e6;
}

#profile-menu-toggle:checked ~ .profile-menu {
    display: block;
}

#profile-menu-toggle {
    display: none;
}

.profile-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Common Profile Section */
.profile-section {
    position: relative;
}

.profile-section .header-img {
    width: 100%;
    height: 350px;
    background: linear-gradient(to right, #3443f8, #2c3a8f);
    border-bottom: 220px solid white;
    object-fit: cover;
    box-shadow: 0px 20px 20px rgb(0, 0, 0, 0.1);
}

.profile-section .profile-avatar {
    position: absolute; 
    top: 350px; 
    left: 450px; 
    transform: translate(-50%, -50%); 
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 13px solid white;
    box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.2);
}

.profile-section .profile-avatar img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.2);
}

.identity {
    position: absolute; 
    top: 210px; 
    left: 390px;
    width: 50vw;
}

.identity div {
    margin-bottom: 20px;
}

.identity-header .fullname{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    margin-right: 20px;
}

.identity-header .username{
    font-size: 20px;
    color: grey;
    letter-spacing: 1.5px;
}

.identifier {
    font-size: 20px;
}

.identity-subcontent {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    color: grey;
}

.identity-subcontent i {
    margin-right: 10px;
}

.identity-subcontent .email {
    margin-right: 50px;
}

.tab-container {
    display: flex;
    width: 100%;
    padding: 100px 0px;
    align-items: center;
    justify-content: center;
}

.profile-tab-section {
    display: flex;
}

.tab-buttons {
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-right: 15px solid #f6c302;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.tab-header {
    cursor: default;
    padding: 30px 20px;
    font-size: 28px;
    color: white;
    background-color: #601325;
    border-top-left-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.tab-header i{
    font-size: 24px;
    margin-right: 10px;
}

.tab-buttons .tab-btn {
    padding: 20px 25px;
    padding-left: 30px;
    border: none;
    background: none;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.tab-buttons .tab-btn:hover {
    background-color: #eaeaea;
}

.tab-buttons .tab-btn:hover[data-tab="profile-settings"] {
    border-bottom-left-radius: 30px;
}

.tab-buttons .tab-btn.active {
    background-color: #ddced1;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #601325;
}

.tab-buttons .tab-btn.active[data-tab="profile-settings"] {
    border-bottom-left-radius: 30px;
}

.tab-content {
    flex-grow: 1;
    padding: 50px 80px;
    border-left: 15px solid #f6c302;
    margin-left: 50px;
    width: 50vw;
    background-color: white;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
}

.tab-panel {
    display: none;
}

.tab-panel.active {
    display: block;
}

.profile-navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.profile-navbar li {
    border-radius: 25px;
    border: 2px solid #601325;
    color: #601325;
}

input:disabled {
    background-color: white;
    color: black; 
    border: 1px solid #cccccc;
}

.personal-info {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.personal-info div{
    color: grey;
    width: 300px;
    padding: 10px 0px;
}

.personal-info input{
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    width: 100%
}