/* General Styles */
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Anybody', sans-serif;
	margin: 0;
	padding: 0;
	//background-color: grey;
	color: black;
	user-select: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	font-family: 'Anybody', sans-serif;
	border: none;
}

/* Header Section */
header {
	background-color: white;
	color: black;
	padding: 0 80px;
	text-align: center;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.navbar nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    padding: 30px 0px;
    font-size: 21px;
	//border: 1px solid blue;
}

.navbar nav ul a {
    padding: 30px 20px;
    font-size: 21px;
	//border: 1px solid yellow;
}

.navbar nav ul li .current-page {
	color: #F6C302;
	font-weight: bold;
}

.navbar nav ul li .current-page::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 90%;
    height: 9px;
    background-color: #f6c302;
}

.navbar nav ul li a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.navbar nav ul li .hoverable::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
	transform: translateX(-50%);
    height: 9px;
    background-color: #88343b;
    transition: width 0.3s ease;
}

.navbar nav ul li .hoverable:hover::after {
	color: #88343b;
    width: 90%;
}

.navbar nav ul li .hoverable:hover {
	color: #88343b;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.profile .profile-img {
    margin-right: 15px;
}

.profile .profile-img img {
    margin-bottom: -4px;
    border-radius: 50%;
    width: 50px;
}

.profile .profile-info {
    line-height: 1.4;
    text-align: left;
}

.profile .profile-info h3,
.profile .profile-info span {
    margin: 0;
    padding: 0;
}

.profile-menu {
    display: none;
    position: absolute;
    top: 65px;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 100;
    width: 190px;
	text-align: left;
}

.profile-menu a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #333;
    font-size: 19px;
    border-bottom: 1px solid #eee;
    transition: background 0.3s, color 0.3s ease;
}

.profile-menu a:last-child {
    border-bottom: none;
}

.profile-menu a:hover,
.profile-menu a:hover i {
    background: #f9f9f9;
	color: black;
}

.profile-menu a i {
    margin-right: 15px;
    font-size: 16px;
    color: grey;
}

.profile-menu .log-out,
.profile-menu .log-out i {
	color: #FF7F7F;
}

.profile-menu .log-out:hover,
.profile-menu .log-out:hover i {
	color: red;
	background: #ffe6e6;
}

#profile-menu-toggle:checked ~ .profile-menu {
    display: block;
}

#profile-menu-toggle {
    display: none;
}

.profile-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Image Slider Section */
.image-slider-section {
	margin-top: 41px;
	color: white;
}

.slider{
    height: 100vh;
    margin-top: -50px;
    position: relative;
}

.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, white 1%, transparent 30%
    );
}

.slider .list .item .content {
    position: absolute;
    left: 8%;
    top: 20%;
    width: 900px;
    max-width: 80%;
    z-index: 1;
    background: linear-gradient(to right, rgb(136, 52, 59, 0.7), rgb(136, 52, 59, 0));
    border-left: 15px solid #601325;
    padding-left: 20px;
    opacity: 0;
    transform: translateY(20px); 
}

.slider .list .item.active .content {
    animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}

@keyframes showContent {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slider .list .item .content p:nth-child(1){
    letter-spacing: 10px;
	font-size: 22px;
	text-shadow: 
        -2px -2px 0 black, 
        2px -2px 0 black, 
        -2px 2px 0 black, 
        2px 2px 0 black;
}
.slider .list .item .content p:nth-child(3){
    font-size: 20px;
	letter-spacing: 2px;
	text-shadow: 
        -1px -1px 0 grey, 
        1px -1px 0 grey, 
        -1px 1px 0 grey, 
        1px 1px 0 grey;
}

.slider .list .item .content h2{
    font-size: 100px;
    margin: 0;
	color: #f6c302;
	text-shadow: 
        -2px -2px 0 black, 
        2px -2px 0 black, 
        -2px 2px 0 black, 
        2px 2px 0 black;
}

.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}

.slider .list .item.active h2{
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}

.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}

.arrows button{
    background-color: white;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #601426;
	font-weight: bold;
    transition: .5s;
}

.arrows button:hover{
    background-color: #f6c302;
    color: white;
}

.thumbnail{
    position: absolute;
    bottom: -10px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: right;
}

.thumbnail::-webkit-scrollbar{
    width: 0;
}

.thumbnail .item{
    width: 150px;
    height: 200px;
    filter: brightness(.3);
    transition: .5s;
    flex-shrink: 0;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item.active{
    filter: brightness(1);
}

.thumbnail .item.active .content{
    display: flex;
}

.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
	text-shadow: 
        -2px -2px 0 black, 
        2px -2px 0 black, 
        -2px 2px 0 black, 
        2px 2px 0 black;
	letter-spacing: 2px;
	display: none;
}

@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}

/* CIT U in 360 Section */
.citu-360 {
	height: 100%;
	//border: 1px solid yellow;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0;
	padding: 0;
	margin-top: 110px;
}

.citu-360 iframe {
	width: 1300px;
	height: 800px;
	border-radius: 40px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.citu-360 div {
	margin: 60px 350px 70px 350px;
	text-align: center;
}

.citu-360 div h1{
	margin: 0;
	font-size: 50px;
	letter-spacing: 2px;
}

.citu-360 div p{
	font-size: 24px;
	line-height: 1.5;
	letter-spacing: 1.1px;
}

/* Common Profile Section */
.profile-header-section{
    background-image: url("../img/visit-now-bg.png");
    background-repeat: no-repeat;
	background-size: cover; 
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: auto;
	aspect-ratio: 1 / 0.35;
	margin: 55px 0;	
}

.profile-navbar {
    
}

.profile-navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.profile-navbar li {
    border-radius: 25px;
    border: 2px solid #601325;
    color: #601325;
}

/* Personal Information Section */

.divider-container{
    display: flex;
    justify-content: flex-end;
}

.content-divider{
    justify-content: end;
    padding: 30px;
    border-width: 10px;
    width: 550px;
    border-right-style: solid;
    border-right-color: #F6C302;
    background-color: rgba(246, 195, 2, 0.5);
}

.profile-content-box{
    margin-bottom: 80px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid #601325;
    display: flex;
	justify-content: center;
}


/* Footer Section */
footer {
	background: #88343b;
	color: white;
	display: flex;
	flex-direction: row;
	font-size: 18px;
}
                   
.footer-left-container {
	width: 70%;
	padding: 50px;
	display: flex;
	padding-left: 80px;
	padding-top: 60px;
}

.flc-left-content {
	margin-right: 180px;
}

.flc-left-content img {
	margin-bottom: 60px;
}

.flc-left-content button {
	border: 3px solid transparent;
	border-radius: 20px;
	background-color: white;
	padding: 8px 20px;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	transition: border 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.flc-left-content button:hover {
	border-color: white;
	background-color: transparent;
	color: white;
}

.flc-left-content button i {
	margin-right: 5px;
}

.flc-left-content p {
	//border: 1px solid blue;
	margin-top: 30px;
	font-size: 20px;
	margin-bottom: 0;
}

.flc-right-content {
	width: 200px;
	margin-right: 100px;
	font-size: 20px;
	letter-spacing: 1.5px;
}

.flc-right-content h3 {
	letter-spacing: 2.5px;
	margin: 0;
	margin-bottom: 40px;
	margin-top: 10px;
}

footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

footer ul li {
	display: flex;
	margin-bottom: 16px;
	color: rgb(255, 255, 255, 0.5);
	font-size: 20px;
	transition: color 0.3s ease;
}

footer ul li:hover {
	color: #f6c302;
	font-weight: bold;
}

.footer-right-container {
	width: 30%;
	background-image: url("../img/teknofinder-logo-other.png");
	background-size: 130%;
	background-repeat: no-repeat; /* Prevents the image from repeating */
	background-position: left; /* Centers the image */
}