<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TeknoFinder - TeknoMap</title>
	<link rel="stylesheet" href="../css/main-teknomap.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Anybody&display=swap" rel="stylesheet">
	
</head>

<body>
	<!-- Header Section -->
	<header>
		<div class="navbar">
			<div>
				<img src="../img/teknofinder-word.png" height="40px"/>
			</div>

			<nav>
				<ul>
					<li><a href="../templates/main-home.html" class="hoverable">Home</a></li>
					<li><a href="../templates/main-teknomap.html" class="current-page">TeknoMap</a></li>
					<li><a href="../templates/main-confessions.html" class="hoverable">Confessions</a></li>
					<li><a href="../templates/main-aboutus.html" class="hoverable">About Us</a></li>
					<li><a href="../templates/main-contactus.html" class="hoverable">Contact Us</a></li>
				</ul>
			</nav>

			<div class="profile">
				<input type="checkbox" id="profile-menu-toggle" hidden>
				<label for="profile-menu-toggle" class="profile-label">
					<div class="profile-img">
						<img src="../img/user-profile.jpg" alt="Profile">
					</div>
					<div class="profile-info">
						<h3 id="student-username-label">fname + lname</h3>
						<span id="student-number-label">stud_num/email</span>
					</div>
				</label>

				<div class="profile-menu">
					<a href=""><i class="fa fa-user"></i> View Profile</a>
					<a href=""><i class="fa fa-cog"></i> Settings</a>
					<a href="" class="log-out"><i class="fa fa-sign-out-alt"></i> Logout</a>
				</div>
			</div>
		</div>
	</header>

	<!-- Footer Section -->
	<footer>
		<div class="footer-left-container">
			<div class="flc-left-content">
				<img src="../img/teknofinder-word-other.png" height="50px"/> <br/>
				<button id="scrollToTopBtn">
				  <i class="fa fa-chevron-up"></i> TOP
				</button>
				<p>© 2024 TeknoFinder. All rights reserved.</p>
			</div>
				
			<div class="flc-right-content">
				<h3>Product</h3>
				<ul>
					<li><a href="../templates/main-home.html">Overview</a></li>
					<li><a href="#citu360" id="citu360Link">CIT-U 360</a></li>
					<li><a href="../templates/main-teknomap.html">TeknoMap</a></li>
					<li><a href="../templates/main-confessions.html">Confessions</a></li>
				</ul>
			</div>
			  
			<div class="flc-right-content">
				<h3>Company</h3>
				<ul>
					<li><a href="../templates/main-aboutus.html">About Us</a></li>
					<li><a href="../templates/main-contactus.html">Contact Us</a></li>
				</ul>
			</div>			
		</div>
		
		<div class="footer-right-container"></div>
	</footer>
	
	<script src="../../global js/jquery-3.7.1.min.js"></script>
	<script src="../js/main-page.js" defer></script>
</body>
</html>
