<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TeknoFinder - About Us</title>
	<link rel="stylesheet" href="../css/main-aboutus.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Anybody&display=swap" rel="stylesheet">
	
</head>

<body>
	<!-- Header Section -->
	<header>
		<div class="navbar">
			<div>
				<img src="../img/teknofinder-word.png" height="40px"/>
			</div>

			<nav>
				<ul>
					<li><a href="../templates/main-home.html" class="hoverable">Home</a></li>
					<li><a href="../templates/main-teknomap.html" class="hoverable">TeknoMap</a></li>
					<li><a href="../templates/main-confessions.html" class="hoverable">Confessions</a></li>
					<li><a href="../templates/main-aboutus.html" class="current-page">About Us</a></li>
					<li><a href="../templates/main-contactus.html" class="hoverable">Contact Us</a></li>
				</ul>
			</nav>

			<div class="profile">
				<input type="checkbox" id="profile-menu-toggle" hidden>
				<label for="profile-menu-toggle" class="profile-label">
					<div class="profile-img">
						<img src="../img/user-profile.jpg" alt="Profile">
					</div>
					<div class="profile-info">
						<h3 id="student-username-label">fname + lname</h3>
						<span id="student-number-label">stud_num/email</span>
					</div>
				</label>

				<div class="profile-menu">
					<a href=""><i class="fa fa-user"></i> View Profile</a>
					<a href=""><i class="fa fa-cog"></i> Settings</a>
					<a href="" class="log-out"><i class="fa fa-sign-out-alt"></i> Logout</a>
				</div>
			</div>
		</div>
	</header>

    <section class="get-started-section">
		<div class="about-container">
			<div class="about-left-container">
				<span>One Team.<br/>One Goal.</span> <br/>
				<p>
					As Aristotle once said, "The roots of education are bitter, but the fruit is sweet." At Discere, we believe that accessible learning tools have the power to transform lives. We are committed to shaping the future of education by empowering learners to reach their goals through interactive study sets, flashcards, and quizzes.
				</p>
			</div>
			
			<div class="about-right-container">
				<img src="image"/>
			</div>
		</div>
    </section>
	
	<section class="member-section">
		<div class="member-head">
			<span class="member-head-subheader">Designers and Programmers</span> <br/>
			<span class="member-head-header">TEAM BEHIND TEKNOFINDER</span> <br/>
			<span class="member-head-content">
				Meet the passionate team driving TenkoFinder—a group dedicated to transforming learning<br/>
				experiences. With innovation at our core, we strive to make education<br/>
				accessible, engaging, and impactful for all.
			</span>
		</div>
		
		<div class="member-boxes">
			<div class="member-box-one">
				<div class="member-info">
					<div>
						<img src="image"/> <br/>
						<h1>member</h1>
						<h1> ◍ ☉☉ </h1>
						<p>"Fueling growth and transformation by making learning accessible, engaging, and a lifelong adventure."</p>
					</div>
				</div>
			</div>
			<div class="member-box-two">
				<div class="member-info">
					<div>
						<img src="image"/> <br/>
						<h1>member</h1>
						<h1> ◍ ◍ ☉ </h1>
						<p>"Empowering every learner to unlock their potential, expand their horizons, and achieve greatness through knowledge."</p>
					</div>
				</div>
			</div>
			<div class="member-box-three">
				<div class="member-info">
					<div>
						<img src="image"/> <br/>
						<h1>member</h1>
						<h1> ◍ ◍ ◍ </h1>
						<p>"Building a brighter future by inspiring curiosity, cultivating skills, and fostering a passion for continuous learning."</p>
					</div>
				</div>
			</div>
			<div class="member-box-one">
				<div class="member-info">
					<div>
						<img src="image"/> <br/>
						<h1>member</h1>
						<h1> ◍ ☉☉ </h1>
						<p>"Fueling growth and transformation by making learning accessible, engaging, and a lifelong adventure."</p>
					</div>
				</div>
			</div>
			<div class="member-box-two">
				<div class="member-info">
					<div>
						<img src="image"/> <br/>
						<h1>member</h1>
						<h1> ◍ ◍ ☉ </h1>
						<p>"Empowering every learner to unlock their potential, expand their horizons, and achieve greatness through knowledge."</p>
					</div>
				</div>
			</div>
			<div class="member-box-three">
				<div class="member-info">
					<div>
						<img src="image"/> <br/>
						<h1></h1>
						<h1> ◍ ◍ ◍ </h1>
						<p>"Building a brighter future by inspiring curiosity, cultivating skills, and fostering a passion for continuous learning."</p>
					</div>
				</div>
			</div>
		</div>
		
		<span class="section-foot">
			As Aristotle once said, "The roots of education are bitter, but the fruit is sweet." At Discere, we believe that accessible learning tools have the power to transform lives. We are committed to shaping the future of education by empowering learners to reach their goals through interactive study sets, flashcards, and quizzes.
		</span>
    </section>
	
	<!-- Footer Section -->
	<footer>
		<div class="footer-left-container">
			<div class="flc-left-content">
				<img src="../img/teknofinder-word-other.png" height="50px"/> <br/>
				<button id="scrollToTopBtn">
				  <i class="fa fa-chevron-up"></i> TOP
				</button>
				<p>© 2024 TeknoFinder. All rights reserved.</p>
			</div>
				
			<div class="flc-right-content">
				<h3>Product</h3>
				<ul>
					<li><a href="../templates/main-home.html">Overview</a></li>
					<li><a href="#citu360" id="citu360Link">CIT-U 360</a></li>
					<li><a href="../templates/main-teknomap.html">TeknoMap</a></li>
					<li><a href="../templates/main-confessions.html">Confessions</a></li>
				</ul>
			</div>
			  
			<div class="flc-right-content">
				<h3>Company</h3>
				<ul>
					<li><a href="../templates/main-aboutus.html">About Us</a></li>
					<li><a href="../templates/main-contactus.html">Contact Us</a></li>
				</ul>
			</div>			
		</div>
		
		<div class="footer-right-container"></div>
	</footer>
	
	<script src="../../global js/jquery-3.7.1.min.js"></script>
	<script src="../js/main-page.js" defer></script>
</body>
</html>
