<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TeknoFinder - Login</title>
	<link rel="stylesheet" href="../css/login.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Anybody:wght@300;400;600;700&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>

<body>
	<section class="login-form">
		<div class="login-container">
			<div class="back">
				<button onclick="previousPage();"> <i class="fa fa-arrow-left"></i> BACK </button>
			</div>
			
			<div class="form">
				<div class="header">
					<h1>Log In to </h1> <img src="../img/teknofinder-word.png">
				</div>
				
				<p class="subheader">Sign in now to explore the campus, find your way with ease</p>
				
				<form>
					<div class="form-group">
						<label for="email">Student Number</label>
						<input type="email" id="email" placeholder="Enter your student number" required>
					</div>
					
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" id="password" placeholder="Enter your password" required>
					</div>
				  
					<div class="checkbox-group">
						<label>
							<input type="checkbox"> Remember Me
						</label>
						<a href="">Forgot Password?</a>
					</div>
					
					<button type="submit" class="btn-login">Log In</button>
					<div class="divider">or login with</div>
					<button type="button" class="btn-google">
						<i class="fab fa-google"></i>
						Log In With Google
					</button>
				</form>
				
				<p class="register-link">Don’t have an account? <a href="../templates/register-selection.html">Register Now</a></p>
			</div>
		</div>
	</section>
	
	<script src="../js/user-auth.js"></script>
</body>
</html>
