<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TeknoFinder - Register</title>
	<link rel="stylesheet" href="../css/register.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Anybody:wght@300;400;600;700&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>

<body>
	<section class="register-form">
		<div class="register-container">
			<div class="back">
				<button onclick="previousPage();"> <i class="fa fa-arrow-left"></i> BACK </button>
			</div>
			
			<div class="form">
				<div class="header">
					<h1>Sign up to </h1> <img src="../img/teknofinder-word.png">
				</div>
				
				<p class="subheader">Sign up to unlock effortless navigation around CIT-U</p>

				<div class="identifier">
					<h2>PERSONAL INFORMATION</h2>
					<span>Step 01 of 02</span>
				</div>

				<form action= "register-student-two.html">
					<div class="fullname">
						<div class="form-group">
							<label for="firstname">First Name</label>
							<input type="text" id="firstname" placeholder="Enter your first name" required>
						</div>
				
						<div class="form-group">
							<label for="lastname">Last Name</label>
							<input type="text" id="lastname" placeholder="Enter your last name" required>
						</div>
					</div>
				
					<div class="fullname">
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" id="username" placeholder="Enter your username" required>
						</div>
				
						<div class="form-group">
							<label for="yearlevel">Year Level</label>
							<select id="yearlevel" required style="-webkit-appearance: none; -moz-appearance: none; appearance: none; background: url('data:image/svg+xml;utf8,<svg fill=\'%23000\' xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 20 20\'><path d=\'M5 7l5 5 5-5z\'/></svg>') no-repeat right 15px center; background-size: 30px; color: #757575;" onchange="this.style.color='black'">
								<option value="">Select year level...</option>
								<option value="FirstYearFreshman">1st Year</option>
								<option value="SecondYearFreshman">2nd Year</option>
								<option value="ThirdYearJunior">3rd Year</option>
								<option value="FourthYearSenior">4th Year</option>
							</select>
						</div>
					</div>
				
					<div class="form-group">
						<label for="program">Program</label>
						<select id="program" required style="-webkit-appearance: none; -moz-appearance: none; appearance: none; background: url('data:image/svg+xml;utf8,<svg fill=\'%23000\' xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 20 20\'><path d=\'M5 7l5 5 5-5z\'/></svg>') no-repeat right 15px center; background-size: 30px; color: #757575;" onchange="this.style.color='black'">
							<option value="">Select program...</option>
							<option value="ComputerScience">BS Computer Science</option>
							<option value="InformationTechnology">BS Information Technology</option>
							<option value="BS Civil Engineering">BS Civil Engineering</option>
							<option value="BS Architecture">BS Architecture</option>
							<option value="BS Nursing">BS Nursing</option>
							<option value="BS Pharmacy">BS Pharmacy</option>
						</select>
					</div>
				
					<button class="btn-next" id="reg-one">
						Next <i class="fa fa-arrow-right"></i>
					</button>

					<div class="divider">or register with</div>

					<button type="button" class="btn-google">
						<i class="fab fa-google"></i>
						Register With Google
					</button>
				</form>				
				
				<p class="login-link">Already have an account? <a href="../templates/login-selection.html">Login Now</a></p>
			</div>
		</div>
	</section>
    <script src="../../global js/jquery-3.7.1.min.js"></script>
	<script src="../js/user-auth.js"></script>
	<script src="../js/user-reg.js"></script>
</body>
</html>