/* General Styles */
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Anybody', sans-serif;
	margin: 0;
	padding: 0;
	//background-color: grey;
	color: black;
	user-select: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	font-family: 'Anybody', sans-serif;
	border: none;
}

/* Header Section */
header {
	background-color: white;
	color: black;
	padding: 0 80px;
	text-align: center;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.navbar nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    padding: 30px 0px;
    font-size: 21px;
	//border: 1px solid blue;
}

.navbar nav ul a {
    padding: 30px 20px;
    font-size: 21px;
	//border: 1px solid yellow;
}

.navbar nav ul li .current-page {
	color: #F6C302;
	font-weight: bold;
}

.navbar nav ul li .current-page::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 90%;
    height: 9px;
    background-color: #f6c302;
}

.navbar nav ul li a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.navbar nav ul li .hoverable::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
	transform: translateX(-50%);
    height: 9px;
    background-color: #88343b;
    transition: width 0.3s ease;
}

.navbar nav ul li .hoverable:hover::after {
	color: #88343b;
    width: 90%;
}

.navbar nav ul li .hoverable:hover {
	color: #88343b;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.profile .profile-img {
    margin-right: 15px;
}

.profile .profile-img img {
    margin-bottom: -4px;
    border-radius: 50%;
    width: 50px;
}

.profile .profile-info {
    line-height: 1.4;
    text-align: left;
}

.profile .profile-info h3,
.profile .profile-info span {
    margin: 0;
    padding: 0;
}

.profile-menu {
    display: none;
    position: absolute;
    top: 65px;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 100;
    width: 190px;
	text-align: left;
}

.profile-menu a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #333;
    font-size: 19px;
    border-bottom: 1px solid #eee;
    transition: background 0.3s, color 0.3s ease;
}

.profile-menu a:last-child {
    border-bottom: none;
}

.profile-menu a:hover,
.profile-menu a:hover i {
    background: #f9f9f9;
	color: black;
}

.profile-menu a i {
    margin-right: 15px;
    font-size: 16px;
    color: grey;
}

.profile-menu .log-out,
.profile-menu .log-out i {
	color: #FF7F7F;
}

.profile-menu .log-out:hover,
.profile-menu .log-out:hover i {
	color: red;
	background: #ffe6e6;
}

#profile-menu-toggle:checked ~ .profile-menu {
    display: block;
}

#profile-menu-toggle {
    display: none;
}

.profile-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Confessions Section */
.confession-section {
    padding: 60px;
    background-color: #f5f5f5;
}

/* Confession Header */
.confession-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.search-bar {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 30px;
}

.filter-btn {
    background-color: #F6C302;
    color: white;
    padding: 20px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-btn:hover {
    background-color: #88343b;
}

/* Confession Subhead */
.con-subhead {
    background: linear-gradient(to right, rgb(250,224,128, 0.9), rgb(245, 245, 245, 0));
    border-left: 10px solid #f6c302;
    padding: 0 20px;
    padding-right: 100px;
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 10px;
}

/* Recent Posts Section */
.recent-posts-container {
    margin-bottom: 40px;
}

.recent-posts {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; 
    scrollbar-width: none;
}

.recent-posts::-webkit-scrollbar, .my-confessions .recent-posts::-webkit-scrollbar {
    display: none;
}

.recent-posts .post-item {
    flex-shrink: 0;
    margin-right: 15px;
    padding: 30px;
    display: flex;
    min-width: 500px;
    max-width: 500px;
    border: 2px solid grey;
}

.post-item {
    position: relative;
}

#delete-icon {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 20px;
    cursor: pointer;
    color: #888;
}

#delete-icon:hover {
    color: #f00;
}

.recent-posts .profilepic-container img {
    border: 1px solid grey; 
    border-radius: 50%; 
    min-width: 70px;
    min-height: 70px; 
    max-width: 70px;
    max-height: 70px; 
    margin-right: 30px;
}

.recent-posts .post-details {
    width: 100%;
}

.recent-posts .post-details hr{
    border: none;
    background-color: black;
    height: 3px;
    margin-bottom: 20px;;
}

.recent-posts .post-details .detail-head {
    display: flex;
}

.recent-posts .post-details .detail-head span{
    color: #777;
    margin-left: 20px;
}

.recent-posts .post-details .datelocation {
    display: flex;
    justify-content: space-between;
}

.recent-posts h2 {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}

.recent-posts-slider {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.recent-posts {
    display: flex;
    gap: 20px;
    width: 100%;
    transition: transform 0.4s ease-in-out;
}

.post-item {
    min-width: 30%;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.post-text {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.post-info {
    font-size: 16px;
    color: #777;
}

/* Slider Navigation Buttons */
.slider-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #777;
    transition: color 0.3s ease;
}

.slider-btn:hover {
    color: #f6c302;
}

.left-btn {
    background-color: white;
    padding: 15px 20px;
    border: 1px solid grey;
    border-radius: 50%;
    margin-right: 30px;
    transition: border-color 0.3s ease;
    //top: 50%;
    //left: 10px;
    //transform: translateY(-50%);
}

.left-btn:hover {
    border-color: #f6c407;
}

.right-btn {
    background-color: white;
    padding: 15px 20px;
    border: 1px solid grey;
    border-radius: 50%;
    margin-left: 30px;
    transition: border-color 0.3s ease;
    //top: 50%; 
    //right: 10px;
    //transform: translateY(-50%);
}

.right-btn:hover {
    border-color: #f6c407;
}

/* Filters Section */
.filters {
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.filters div{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.filters h3 {
    font-size: 20px;
    margin-bottom: 15px;
    margin-right: 50px
}

select {
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: -5px;
    border: 1px solid #ccc;
}

.add-confessions-btn {
    background-color: #621628;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: -5px;
    cursor: pointer;
    border: 2px solid #621628;
    transition: background-color 0.3s ease;
    position: absolute;
    right: 10px;
}

.add-confessions-btn:hover {
    background-color: white;
    color: #621628;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 40px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    height: 30vh; 
}

.submit-btn {
    background-color: #621628;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

.submit-btn:hover {
    background-color: #5b0e17;
}

.close-btn {
    position: absolute;
    top: 24%;
    right: 33%;
    font-size: 50px;
    color: #333;
    cursor: pointer;
    font-weight: bold;
}

.close-btn:hover {
    color: #621628;
}

/* Confession Results */
.post-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post-results .post-item {
    flex-shrink: 0;
    padding: 30px;
    display: flex;
    margin-bottom: 10px;
    width: 93%;
}

.post-results .profilepic-container img {
    border: 1px solid grey; 
    border-radius: 50%; 
    min-width: 70px;
    min-height: 70px; 
    max-width: 70px;
    max-height: 70px; 
    margin-right: 30px;
}

.post-results .post-details {
    width: 100%;
}

.post-results .post-details hr{
    border: none;
    background-color: black;
    height: 3px;
    margin-bottom: 20px;;
}

.post-results .post-details .detail-head {
    display: flex;
}

.post-results .post-details .detail-head span{
    color: #777;
    margin-left: 20px;
}

.post-results .post-details .datelocation {
    display: flex;
    justify-content: space-between;
}

.post-results h2 {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}


.post-results {
    display: flex;
    gap: 20px;
    width: 100%;
    transition: transform 0.4s ease-in-out;
}

/* Footer Section */
footer {
	background: #88343b;
	color: white;
	display: flex;
	flex-direction: row;
	font-size: 18px;
}

.footer-left-container {
	width: 70%;
	padding: 50px;
	display: flex;
	padding-left: 80px;
	padding-top: 60px;
}

.flc-left-content {
	margin-right: 180px;
}

.flc-left-content img {
	margin-bottom: 60px;
}

.flc-left-content button {
	border: 3px solid transparent;
	border-radius: 20px;
	background-color: white;
	padding: 8px 20px;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	transition: border 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.flc-left-content button:hover {
	border-color: white;
	background-color: transparent;
	color: white;
}

.flc-left-content button i {
	margin-right: 5px;
}

.flc-left-content p {
	//border: 1px solid blue;
	margin-top: 30px;
	font-size: 20px;
	margin-bottom: 0;
}

.flc-right-content {
	width: 200px;
	margin-right: 100px;
	font-size: 20px;
	letter-spacing: 1.5px;
}

.flc-right-content h3 {
	letter-spacing: 2.5px;
	margin: 0;
	margin-bottom: 40px;
	margin-top: 10px;
}

footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

footer ul li {
	display: flex;
	margin-bottom: 16px;
	color: rgb(255, 255, 255, 0.5);
	font-size: 20px;
	transition: color 0.3s ease;
}

footer ul li:hover {
	color: #f6c302;
	font-weight: bold;
}

.footer-right-container {
	width: 30%;
	background-image: url("../img/teknofinder-logo-other.png");
	background-size: 130%;
	background-repeat: no-repeat; /* Prevents the image from repeating */
	background-position: left; /* Centers the image */
}