/* General Styles */
html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Anybody', sans-serif;
	margin: 0;
	padding: 0;
	user-select: none;
	background-image:
		linear-gradient(to right, transparent 10%, white 22%, white 78%, transparent 90%), 
		url("../img/bg-six.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	font-family: 'Anybody', sans-serif;
	border: none;
}

/* register Selection Section */
.register-selection {
	//border: 1px solid yellow;
	height: 100vh;
	margin: 0 22vw;
}

.back {
	text-align: right;
	margin-bottom: 30px;
}

.back i {
	font-size: 15px;
	margin-right: 5px;
}

.back button{
	padding: 10px 20px;
	margin-top: 40px;
	margin-right: 50px;
	border: 0.5px solid transparent;
	border-radius: 30px;
	font-size: 18px;
	letter-spacing: 1.4px;
	text-align: center;
	font-weight: 600;
	margin-bottom: -50px;
	background-color: transparent;
	transition: background-color 0.3s ease. box-shadow 0.3s ease;
}

.back button:hover {
	box-shadow: 0 0px 20px rgb(235,235,235);
	background-color: rgb(250,250,250);
}

.container .header {
	//border: 1px solid blue;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container .header div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin: 0;
	padding: 0;
	margin-top: 30px;
	//border: 1px solid yellow;
}

.container .header div h1{
	margin: 0;
	padding: 0;
	//border: 1px solid green;
	margin-top: 12px;
	font-size: 45px;
	font-weight: bold;
}

.container .header div img{
	margin: 0px 15px;
	height: 58px;
	//border: 1px solid blue;
}

.container .header h3{
	font-weight: 300;
	letter-spacing: 1.4px;
	font-size: 20px;
}

.selection-container {
	display: flex;
	gap: 50px;
	align-items: center;
	justify-content: center;
	margin: 30px 0px;
	margin-bottom: 45px;
}

.selection {
	border: 4px solid #88343b;
	border-radius: 30px;
	padding: 20px;
	width: 270px;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 20px;
	background-color: white;
	color: #88343b;
	font-weight: 600;
	letter-spacing: 1.2px;
	transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.selection img {
	margin-bottom: 20px;
	width: 80px;
}

.selection p {
	margin: 0;
	color: #7f7f7f;
	letter-spacing: 0;
	font-weight: 400;
	font-size: 16px;
	margin-top: 10px;
}

.selection:hover {
	box-shadow: 0 0px 20px rgba(246, 195, 2, 0.5);
	background-color: rgba(136, 52, 59, 0.1);
}


.login-link {
	text-align: center;
	color: #7f7f7f;
	font-size: 18px;
}

.login-link a {
	margin-left: 30px;
	color: #0059ff;
	transition: text-decoration 0.3s ease;
}

.login-link a:hover {
	text-decoration: underline;
}

/* register General Styles */

.register-form {
    min-height: 122vh; /* Ensures full height */
    background-image:
        linear-gradient(to right, white 0%, white 50%, transparent 90%),
        url("../img/bg-six.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: visible;
}

.register-container {
	height: 100vh;
	margin-right: 52%;
	//border: 1px solid blue;
}

.form {
	//border: 1px solid black;
	padding: 50px;
	padding-top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form .header {
	display: flex;
}

.form .header h1 {
	margin: 0;
	padding: 0;
	font-size: 45px;
	//border: 1px solid blue;
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.form .header img {
	//border: 1px solid yellow;
	height: 57px;
	//padding-top: 10px;
	margin-left: 10px;
}

.subheader {
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 0.2px;
	margin: 0;
	margin-top: 10px;
}

.identifier {
	display: flex;
	flex-direction: column;
	text-align: right;
	//border: 1px solid yellow;
	width: 80%;
	margin-top: 35px;
	margin-bottom: 20px;
}

.identifier h2 {
	margin: 0;
	letter-spacing: 2px;
	font-weight: 600;
	color: #88343b;
}

.identifier span {
	font-size: 20px;
	margin-top: 5px;
	letter-spacing: 2px;
	color: #0059ff;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	text-align: left;
	width: 600px;
}

.form-group label {
	display: block;
	font-size: 19px;
	margin-bottom: 10px;
	padding-left: 15px;
}

.form-group input,
.form-group select {
	width: 100%;
	padding: 17px 20px;
	font-size: 20px;
	border: 1px solid #E0E0E0;
	border-radius: 15px;
	box-sizing: border-box;
}

.form-group input:focus {
	border-color: #f6c302;
	outline: none;
}

.fullname {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.fullname .form-group {
	width: 47%;
}

.form .btn-next {
	margin-top: 20px;
}

.form .btn-register,
.form .btn-next, 
.form .btn-google {
	width: 100%;
	padding: 17px 20px;
	font-size: 20px;
	border-radius: 15px;
	letter-spacing: 0.2px;
}

.btn-next, 
.btn-register {
	background-color: #88343b;
	color: #ffffff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	width: 100%;
	transition: background-color 0.3s ease;
}

.btn-next, 
.btn-register i {
	font-size: 18px;
	margin-left: 5px;
}

.btn-next, 
.btn-register:hover {
	background-color: #601325;
}

.btn-register {
	margin: 20px 0;
}

.divider {
	display: flex;
	align-items: center;
	text-align: center;
	margin: 25px 0;
	color: #7f7f7f;
	font-size: 18px;
	letter-spacing: 0.5px;
}

.divider::before,
.divider::after {
	content: '';
	flex: 1;
	height: 1px;
	background: #D0D0D0;
}

.divider:not(:empty)::before {
	margin-right: 20px;
}

.divider:not(:empty)::after {
	margin-left: 20px;
}

.btn-google {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border: 1px solid #7f7f7f;
	color: #7f7f7f;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	width: 100%;
	margin-bottom: 20px;
	transition: border-color 0.3s ease, color 0.3s ease;
}

.btn-google i {
	margin-right: 15px;
	margin-bottom: 2px;
}

.btn-google:hover {
	border-color: #f6c302;
	color: #f6c302;
}