<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TeknoFinder - About Us</title>
	<link rel="stylesheet" href="../css/profile-personal.css">
	<link rel="stylesheet" href="../css/schedule.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Anybody&display=swap" rel="stylesheet">
	
</head>

<body>
	<!-- Header Section -->
	<header>
		<div class="navbar">
			<div>
				<img src="../img/teknofinder-word.png" height="40px"/>
			</div>

			<nav>
				<ul>
					<li><a href="../../main-page/templates/main-home.html" class="hoverable">Home</a></li>
					<li><a href="../../main-page/templates/main-teknomap.html" class="hoverable">TeknoMap</a></li>
					<li><a href="../../main-page/templates/main-confessions.html" class="hoverable">Confessions</a></li>
					<li><a href="../../main-page/templates/main-aboutus.html" class="hoverable">About Us</a></li>
					<li><a href="../../main-page/templates/main-contactus.html" class="hoverable">Contact Us</a></li>
				</ul>
			</nav>

			<div class="profile">
				<input type="checkbox" id="profile-menu-toggle" hidden>
				<label for="profile-menu-toggle" class="profile-label">
					<div class="profile-img">
						<img src="../img/user-profile.jpg" alt="Profile">
					</div>
					<div class="profile-info">
						<h3 id="student-username-label">fname + lname</h3>
						<span id="student-number-label">stud_num/email</span>
					</div>
				</label>

				<div class="profile-menu">
					<a href=""><i class="fa fa-user"></i> View Profile</a>
					<a href=""><i class="fa fa-cog"></i> Settings</a>
					<a href="" class="log-out"><i class="fa fa-sign-out-alt"></i> Logout</a>
				</div>
			</div>
		</div>
	</header>

	<!-- Profile Section -->
	 <section class="profile-header-section">
		<div class="content">
				<h1>Kevin Josh Atay</h1>
				<p>I am a lost wildcarr my room doko?</p>
		</div>
	 </section>

	 <nav class="profile-navbar">
		<ul>
			<li><a href="">Personal Information</a></li>
			<li><a href="">Saved Classroom</a></li>
			<li><a onclick="openSchedule();">My Schedule</a></li>
			<li><a href="">Profile Settings</a></li>
		</ul>
	</nav>
	
	<!-- Profile Content -->
	<div>
		<div class="divider-container">
			<h1 class="content-divider">Student's Personal Information</h1>
		</div>
		<div>
			<div class="divider-container">
				<h1 class="content-divider">Student's Personal Information</h1>
			</div>
			<div class="schedule-container" id="schedule-modal">
				<!-- Schedule table will be dynamically inserted here -->
			</div>
		</div>
		

		
		<div class="profile-content-box">

		</div>
		
		<div class="divider-container">
			<h1 class="content-divider">Student's Credential Information</h1>
		</div>
		<div class="profile-content-box">

		</div>
	</div>
	
	{% comment %} <script src="../../global js/jquery-3.7.1.min.js"></script>
	<script src="../../main-page/js/main-page.js" defer></script> {% endcomment %}
	<!--elijah changees-->
	<script src="../js/schedules.js"></script> 

</body>
</html>
