<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TeknoFinder - About Us</title>
	<link rel="stylesheet" href="../css/profile-personal.css">	
	<link rel="stylesheet" href="../css/schedule.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Anybody&display=swap" rel="stylesheet">
	
</head>

<body>
	<!-- Header Section -->
	<header>
		<div class="navbar">
			<div>
				<img src="../img/teknofinder-word.png" height="40px"/>
			</div>

			<nav>
				<ul>
					<li><a href="../../main-page/templates/main-home.html" class="hoverable">Home</a></li>
					<li><a href="../../main-page/templates/main-teknomap.html" class="hoverable">TeknoMap</a></li>
					<li><a href="../../main-page/templates/main-confessions.html" class="hoverable">Confessions</a></li>
					<li><a href="../../main-page/templates/main-aboutus.html" class="hoverable">About Us</a></li>
					<li><a href="../../main-page/templates/main-contactus.html" class="hoverable">Contact Us</a></li>
				</ul>
			</nav>

			<div class="profile">
				<input type="checkbox" id="profile-menu-toggle" hidden>
				<label for="profile-menu-toggle" class="profile-label">
					<div class="profile-img">
						<img src="../img/user-profile.jpg" alt="Profile">
					</div>
					<div class="profile-info">
						<h3 id="student-username-label">fname + lname</h3>
						<span id="student-number-label">stud_num/email</span>
					</div>
				</label>

				<div class="profile-menu">
					<a href=""><i class="fa fa-user"></i> View Profile</a>
					<a href=""><i class="fa fa-cog"></i> Settings</a>
					<a href="" class="log-out"><i class="fa fa-sign-out-alt"></i> Logout</a>
				</div>
			</div>
		</div>
	</header>

	<section class="profile-section">
		<div class="profile-section-header">
			<div class="header-img"></div>
	
			<div class="profile-avatar">
				<div>
					<img src="../img/profile-avatar.png" alt="Profile Picture">
				</div>

				<div class="identity">
					<div class="identity-header">
						<div>
							<span class="fullname">{firstname + lastname}</span>
							<span class="username">( {username} )</span>
						</div>
					</div>

					<!-- Profile Section --><!--like if student siya "Campus Member" mabutang ara if dili "Guest" nalang-->
					<span class="identifier">{identifier} of Cebu Institute of Technology - University</span>

					<div class="identity-subcontent">
						<div>
							<i class="fa fa-envelope"></i>
							<span class="email">{email}</span>
						</div>

						<div>
							<i class="fa fa-clock"></i>
							<span class="datecreated">{account date created}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="tab-container">
			<div class="profile-tab-section">
				<div class="tab-buttons">
					<button class="tab-header" data-tab="my-schedule" disabled>
						<i class="fa fa-user"></i> My Profile
					</button>					
					<button class="tab-btn active" data-tab="personal-info">Personal Information</button>
					<button class="tab-btn" data-tab="saved-classroom">Saved Classroom</button>
					<button class="tab-btn" data-tab="my-schedule" onclick = "openSchedule();">My Schedule</button>
					<button class="tab-btn" data-tab="profile-settings">Profile Settings</button>
				</div>

				<div class="tab-content">
					<div class="tab-panel active" id="personal-info">
						<h2 style="letter-spacing: 2px; margin-bottom: 30px;">
							<i class="fa fa-user-circle" aria-hidden="true" style="margin-right: 5px;"></i> PERSONAL INFORMATION
						</h2>
						<div class="personal-info">
							<div>
								<span> STUDENT NO. </span>
							</div>
							<input value="{studentstatus}" disabled />
						</div>
					
						<div class="personal-info">
							<div>
								<span> FIRST NAME </span>
							</div>
							<input value="{firstname}" disabled />
						</div>
					
						<div class="personal-info">
							<div>
								<span> LAST NAME </span>
							</div>
							<input value="{lastname}" disabled />
						</div>
					
						<div class="personal-info">
							<div>
								<span> CIT-U STUDENT </span>
							</div>
							<input value="{student status}" disabled />
						</div>
					
						<div class="personal-info">
							<div>
								<span> PROGRAM </span>
							</div>
							<input value="{program}" disabled />
						</div>
					
						<div class="personal-info">
							<div>
								<span> YEAR LEVEL </span>
							</div>
							<input value="{yearlevel}" disabled />
						</div>
					
						<div class="personal-info">
							<div>
								<span> STATUS LEVEL </span>
							</div>
							<input value="{statuslevel}" disabled />
						</div>
					</div>
					

					<div class="tab-panel" id="saved-classroom">
						<h2>Saved Classroom</h2>
						<p>Details about saved classrooms go here.</p>
					</div>

					<div class="tab-panel" id="my-schedule">
						<!-- <h2>My Schedule</h2>
						<p>User’s schedule information goes here.</p> -->
						<div>
							<div class="divider-container">
								<h1 class="content-divider">Student's Personal Information</h1>
							</div>
							<div class="schedule-container" id="schedule-modal">
								<!-- Schedule table will be dynamically inserted here -->
							</div>
						</div>
						
					</div>

					<div class="tab-panel" id="profile-settings">
						<h2>Profile Settings</h2>
						<p>Settings and customization options go here.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--
	{% comment %} <script src="../../global js/jquery-3.7.1.min.js"></script>
	<script src="../../main-page/js/main-page.js" defer></script> {% endcomment %}
	-->
	<script src="../js/schedules.js"></script> 
	<script>
		const tabButtons = document.querySelectorAll('.tab-btn');
		const tabPanels = document.querySelectorAll('.tab-panel');

		tabButtons.forEach(button => {
			button.addEventListener('click', () => {
				tabButtons.forEach(btn => btn.classList.remove('active'));
				tabPanels.forEach(panel => panel.classList.remove('active'));

				button.classList.add('active');
				const tabId = button.getAttribute('data-tab');
				document.getElementById(tabId).classList.add('active');
			});
		});
	</script>
</body>
</html>